<html>
<head>
	<script src="scripts\web3.min.js"></script>
	<!--script src="scripts\angular.min.js"></script-->
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
	<script src="mainController.js"></script>
</head>
<body>
	<div ng-app="myApp" ng-controller="mainController">
		<ul>
			<li ng-repeat="c in campaigns">
				<div><b>Code: </b><span ng-bind="c.code"></span></div>
				<div><b>Name: </b><span ng-bind="c.name"></span></div>
				<div><b>Limit: </b><span ng-bind="c.limit"></span></div>
				<div><b>Current Bought Quantity: </b><span ng-bind="c.totalQuantity"></span></div>
				<div><b>Current Price: </b>
					<span ng-bind="c.currentPrice"></span> 
					<input type="text" placeholder="Quantity" ng-model="c.quantity" ></input> 
					<input type="button" value="Buy" ng-click="Buy(c)"></input> 
				</div>
				<b>Price Definitions: </b>
				<ul>
						<li ng-repeat="pd in c.priceDefs">
								<div><b>Quantity Level: </b><span ng-bind="pd.quantityLevel"></span><b> - Price: </b><span ng-bind="pd.price"></span></div>
						</li>
				</ul>
				<br>
				<!--div ng-bind="x.genericInfo[3]"></div>
				<div ng-bind="x.genericInfo[4]"></div-->
			</li>
		</ul>
	</div>
</body>
</html>